$white: #fff;
$black: #000;
$logo-yellow: #F7941D;
$logo-red: #BF1E2E;
$title-color: #A3A3A3;
$border: 1px solid rgba(255, 255, 255, .4);

$none: 0px;
$navbar-height: 60px;

body { background-color: $black; }


// General Positioning

// Account for navbar height
.content-wrapper {
	margin-top: $navbar-height + 20;
}

// Center Navigation Bars
.centered { text-align: center; }
.centered h2 { text-align: center; }



.content p { color: $white; }


// General Coloring
.text_yellow { color: $logo-yellow; }


// Navigation Bar
#nav1 { 
	max-width: 100%; 
	padding-left: 1px;
	background-color: $black;
	border-bottom: $border;
	@include respond(all-phones) {
		margin-bottom: $none;
	}
}
.navbar ul { float: right; }
.navbar .logo a img { 
	height: 60px; 
	max-height: 100%;
}

// Slide Headers
.content-title {
	max-width: 100%;
	border-top: $border;
	border-bottom: $border;
	background-color: $black;
}
.content-title div h2 {
	color: $title-color;
	font-size: 3.5em;
	font-weight: bold;
}

// Mission Slide 
.mission {
	max-width: 80%;
	background-color: $black;
}
.mission-img {
	width: 49%; // I might be horrible at basic math, but I'm not sure why this works
	@include respond(all-phones) {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}
	.mission-img img {
		// Resize logo image
		max-width: 115%;
		margin-left: -24%;
	}
.mission-desc {
	width: 50%;
	float: right;
	margin-top: 1em;
	@include respond(all-phones) {
		width: 80%;
		margin-top: 1em;
		margin-left: 10%;
		margin-right: 10%;
	}
}
	.mission-desc p:last-child {
		text-align: center;
	}
